[defaults]
inventory = inventory.ini
remote_user = tes
roles_path = ./roles
private_key_file = ~/.ssh/capstone-phoenix-azure
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root

