apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default

spec:
  variant: Calico

  calicoNetwork:
    linuxDataplane: Iptables
    bgp: Disabled

    ipPools:
      - cidr: {{ calico_pod_cidr }}
        blockSize: 26
        encapsulation: {{ calico_encapsulation }}
        natOutgoing: Enabled
        nodeSelector: all()

---
apiVersion: operator.tigera.io/v1
kind: APIServer

metadata:
  name: default

spec: {}